/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-apppresser-user-rewards{
	border: 1px solid #000;
	background-color: #fff;
	padding: 20px;
	max-width: 680px !important;
}

.wp-block-apppresser-user-rewards .section-header {
	margin-bottom: 10px;
}